[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"backports.entry-points-selectable" = "*"
flask = {extras = ["async"], version = "*"}
lxml = "*"
pipenv = "*"
python-dotenv = "*"
waitress = "*"
flask-compress = "1.14"
httpx = "*"
pymongo = {extras = ["srv"], version = "*"}
requests = "*"

[dev-packages]
pytest="*"

[requires]
python_version = "3.9"
