[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"backports.entry-points-selectable" = "*"
cachecontrol = "*"
cachy = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
cleo = "*"
click = "*"
clikit = "*"
crashtest = "*"
cryptography = "*"
distlib = "*"
dnspython = "*"
filelock = "*"
flask = {extras = ["async"], version = "*"}
greenlet = "*"
html5lib = "*"
idna = "*"
importlib-metadata = "*"
itsdangerous = "*"
jeepney = "*"
jinja2 = "*"
keyring = "*"
livereload = "*"
lockfile = "*"
lxml = "*"
markupsafe = "*"
msgpack = "*"
packaging = "*"
pastel = "*"
pexpect = "*"
pipenv = "*"
pkginfo = "*"
platformdirs = "*"
poetry = "*"
poetry-core = "*"
ptyprocess = "*"
pycparser = "*"
pylev = "*"
pyparsing = "*"
python-dotenv = "*"
requests-toolbelt = "*"
secretstorage = "*"
shellingham = "*"
six = "*"
tomlkit = "*"
tornado = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
webencodings = "*"
werkzeug = "*"
zipp = "*"
waitress = "*"
flask-session = "*"
flask-compress = "*"
httpx = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
pytest="*"

[requires]
python_version = "3.9"
