{% extends 'base.html' %}

{% block title %}
    MAL-Stremio Addon
{% endblock %}

{% block header %}
    MAL-Stremio Addon
{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class=flashes>
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}
    <div class="card border-0 text-center bg-dark text-white">
        {% if logged_in %}
            Hi, {{ user_info['name'] }}
            <label for="manifest_url">
                <input id="manifest_url" class="bg-dark text-warning form-control" type="text"
                       value="{{ manifest_url }}" readonly>
            </label>
            <div class="d-col pt-3">
                <button class="btn btn-primary mr-2" onclick="copy_to_clipboard()">
                    Copy Manifest URL
                </button>

                <button class="btn btn-primary ml-2" onclick="location.href='{{ manifest_magnet }}'">
                    Open In Stremio
                </button>

                <div class="card-body bg-dark text-white">
                    <button class="btn btn-success" onclick="location.href='{{ url_for('auth.refresh_token') }}'">
                        Generate New Manifest
                    </button>
                </div>
            </div>
        {% else %}
            <label>
                <input class="bg-dark form-control" type="text"
                       placeholder="Log in to MyAnimeList to generate an addon Manifest URL"
                       readonly>
            </label>
            <div class="card-body bg-dark text-white">
                <button class="btn btn-success" onclick="location.href='{{ url_for('auth.authorize_user') }}'">
                    Log in to MyAnimeList
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}